@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --montserrat-fonts: "Montserrat", serif;
  --nav-links-color: #383838;
  --primary-theme-color: #e97730;
  --first-hero-section-color: #f2f2f2;
}

body {
  font-family: var(--montserrat-fonts);
}

.navbar-links-fonts {
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  color: var(--nav-links-color);
  line-height: 120px;
}

.nav-link {
  position: relative;
  /* border: 2px solid red; */
}

.nav-link::before {
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: red;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.nav-link:hover::before {
  color: var(--primary-theme-color);
  transform: scaleX(1);
  transform-origin: left;
}

.on-hover-color:hover {
  cursor: pointer;
  fill: var(--primary-theme-color);
}

/*----------------------------------------------- first section --------------------------------------*/

.wrapper {
  background: url(images/slider-fix-img.webp);
}

/*--------------------------------- animation  -------------------------------*/
@keyframes fade-up-animation-first-text {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-second-text {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-button {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.rounded-pill {
  color: black;
  display: block;
  background-color: white;
  width: 190px;
  height: 55px;
  margin: 0 auto !important;
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s;
  animation-name: fade-up-animation-button;
  animation-duration: 3s;
}

.rounded-pill::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  /* color: white; */
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
  transform-origin: right;
}

.rounded-pill:hover {
  color: white;
}

.rounded-pill:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.arrow-parent {
  display: inline-block;
  /* border: 2px solid red; */
}

.first-section-title {
  /* border: 2px solid red; */
  padding-top: 8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--montserrat-fonts);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  animation-name: fade-up-animation-first-text;
  animation-duration: 1s;
}

.first-section-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: white;
}

.first-section-title::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: white;
}

.second-section-title {
  /* border: 2px solid red; */
  text-align: center;
  font-family: var(--montserrat-fonts);
  font-size: 70px;
  line-height: 80px;
  margin-top: 6px;
  margin-bottom: 35px;
  animation-name: fade-up-animation-second-text;
  animation-duration: 2s;
}

/* swiper slider  */

.custom-width {
  width: 65%;
  overflow: hidden;
  /* border: 2px solid blue; */
}

.custom-border {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 8em;
}

.custom-styling-swiper {
  /* border: 2px solid red; */
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

/* animation  */
@keyframes image-animation-1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.swiper-image-1 {
  width: 150px;
  text-align: center;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: image-animation-1;
  animation-duration: 1s;
}

@keyframes image-animation-2 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-2 {
  animation-name: image-animation-2;
  animation-duration: 1.3s;
}

@keyframes image-animation-3 {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-3 {
  animation-name: image-animation-3;
  animation-duration: 1.5s;
}

@keyframes image-animation-4 {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.image-animation-4 {
  animation-name: image-animation-4;
  animation-duration: 1.8s;
}

@keyframes image-animation-5 {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-5 {
  animation-name: image-animation-5;
  animation-duration: 2s;
}

.image-wrapper {
  margin-top: 20px;
  position: relative;
  /* border: 2px solid red; */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.image-1 {
  display: block;
  position: absolute;
  transition: all 0.3s;
}

.image-2 {
  display: block;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(10px);
}

.swiper-image-1:hover .image-1 {
  opacity: 0;
  transform: translateY(-15px);
  cursor: pointer;
}

.swiper-image-1:hover .image-2 {
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;
}

/*----------------------------------------------- second section ---------------------------------------*/

.second-section-btn {
  padding: 10px 42px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-theme-color);
  color: white;
}

.custom-styling-content {
  border: 2px solid red;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-font-second-section {
  font-size: 40px;
  font-weight: 600;
}

.image-holder {
  overflow: hidden;
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.image-scale {
  position: absolute;
  transition: all 1s;
}

.image-holder:hover .image-scale {
  cursor: pointer;
  transform: scale(1.1);
}

.custom-second-section-first-title {
  display: flex;
  align-items: center;
}

.custom-second-section-first-title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: var(--primary-theme-color);
}

.custom-second-section-first-title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: var(--primary-theme-color);
}

.font-custom-weight {
  font-weight: 600;
}

/* media queries  */

@media (max-width: 678px) {
  .custom-padding-device {
    padding: 0;
  }
}
