@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --montserrat-fonts: "Montserrat", serif;
  --nav-links-color: #383838;
  --primary-theme-color: #e97730;
  --first-hero-section-color: #f2f2f2;
  --card-color: #f3f3f3;
  --popins-fonts: "Poppins", serif;
  --great-vibes-fonts: "Great Vibes", cursive;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--montserrat-fonts);
  overflow-x: hidden;
  /* overflow-y: auto; */
}

#header-section {
  position: sticky;
  top: 0;
  z-index: 10;
}

.custom-border {
  border: 2px solid red;
}

.navbar-links-fonts {
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  color: var(--nav-links-color);
  line-height: 120px;
}

.nav-link {
  position: relative;
  /* border: 2px solid red; */
}

.nav-link::before {
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: red;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.nav-link:hover::before {
  color: var(--primary-theme-color);
  transform: scaleX(1);
  transform-origin: left;
}

.on-hover-color:hover {
  cursor: pointer;
  fill: var(--primary-theme-color);
}

.hover-effect-links {
  cursor: pointer;
  font-weight: 500;
  color: #383838;
}

.hover-effect-links:hover {
  color: var(--primary-theme-color);
}

.offcanvas-end {
  /* position: fixed; */
  /* height: 100vh; */
}

.close-btn-offcanvas {
  /* border: 2px solid red; */
}

.show .close-btn-offcanvas {
  display: block;
}

.close-btn-offcanvas {
  /* background-color: red; */
}

.close-btn-offcanvas span {
  position: absolute;
  top: 0;
  left: -35px;
  background-color: var(--primary-theme-color);
  padding: 5px;
  display: none;
}

.show .close-btn-offcanvas span {
  display: block;
}

.show .close-btn-offcanvas span svg {
  display: block;
  transition: all 0.5s;
  cursor: pointer;
  /* display: none; */
}

.close-btn-offcanvas span:hover svg {
  transform: rotate(90deg);
}

.slider-bar-parent {
  /* border: 2px solid red; */
  border: none;
  gap: 2px;
}

.slider-bar {
  display: block;
  width: 30px;
  border: 2px solid black;
  /* margin-bottom: 2px; */
  padding: 1px;
}

.close-btn-offcanvas > span > svg:hover {
  transform: rotate(90deg);
}

/*----------------------------------------------- first section --------------------------------------*/

.wrapper {
  background: url(images/slider-fix-img.webp);
}

/*--------------------------------- animation  -------------------------------*/
@keyframes fade-up-animation-first-text {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-second-text {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-button {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.rounded-pill {
  color: black;
  display: block;
  background-color: white;
  width: 190px;
  height: 55px;
  margin: 0 auto !important;
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s;
  animation-name: fade-up-animation-button;
  animation-duration: 3s;
}

.rounded-pill::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  /* color: white; */
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
  transform-origin: right;
}

.rounded-pill:hover {
  color: white;
}

.rounded-pill:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.arrow-parent {
  display: inline-block;
  /* border: 2px solid red; */
}

.first-section-title {
  /* border: 2px solid red; */
  padding-top: 8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--montserrat-fonts);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  animation-name: fade-up-animation-first-text;
  animation-duration: 1s;
}

.first-section-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: white;
}

.first-section-title::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: white;
}

.second-section-title {
  /* border: 2px solid red; */
  text-align: center;
  font-family: var(--montserrat-fonts);
  font-size: 70px;
  line-height: 80px;
  margin-top: 6px;
  margin-bottom: 35px;
  animation-name: fade-up-animation-second-text;
  animation-duration: 2s;
}

/* swiper slider  */

.custom-width {
  /* width: 65%; */
  /* overflow: hidden; */
  /* border: 2px solid blue; */
}

.swiper-slide {
  /* display: flex; */
  /* justify-content: center; */
  /* padding-right: 50px; */
  /* border: 2px solid red; */
  /* width: 100%; */
}

/* animation  */
@keyframes image-animation-1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.swiper-image-1 {
  /* width: 150px; */
  /* text-align: center; */
  /* border: 2px solid red; */
  padding-top: 10px;
  /* animation-name: image-animation-1; */
  /* animation-duration: 1s; */
}

.swiper-custom-margin {
  margin-top: 5em;
  margin-bottom: 5em;
  padding-bottom: 50px;
}

@keyframes image-animation-2 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-2 {
  animation-name: image-animation-2;
  animation-duration: 1.3s;
}

@keyframes image-animation-3 {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-3 {
  animation-name: image-animation-3;
  animation-duration: 1.5s;
}

@keyframes image-animation-4 {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.image-animation-4 {
  animation-name: image-animation-4;
  animation-duration: 1.8s;
}

@keyframes image-animation-5 {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-5 {
  animation-name: image-animation-5;
  animation-duration: 2s;
}

.image-wrapper {
  /* margin-top: 20px; */
  position: relative;
  /* border: 2px solid red; */
  /* width: 100px; */
  /* height: 100px; */
  display: flex;
  justify-content: center;
}

.swiper-text-align {
  text-align: center;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.image-1 {
  display: block;
  /* position: absolute; */
  transition: all 0.3s;
}

.image-2 {
  display: block;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(10px);
}

.swiper-image-1:hover .image-1 {
  opacity: 0;
  transform: translateY(-15px);
  cursor: pointer;
}

.swiper-image-1:hover .image-2 {
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;
}

/*----------------------------------------------- second section ---------------------------------------*/

.second-section-btn {
  padding: 10px 42px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-theme-color);
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.second-section-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  border-radius: 50px;
  transform: scaleX(0);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: right;
}

.second-section-btn:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.custom-styling-content {
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-font-second-section {
  font-size: 40px;
  font-weight: 600;
}

.image-holder {
  overflow: hidden;
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.image-scale {
  position: absolute;
  transition: all 1s;
}

.image-holder:hover .image-scale {
  cursor: pointer;
  transform: scale(1.1);
}

.custom-second-section-first-title {
  display: flex;
  align-items: center;
}

.custom-second-section-first-title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: var(--primary-theme-color);
}

.custom-second-section-first-title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: var(--primary-theme-color);
}

.font-custom-weight {
  font-weight: 600;
}

/*----------------------------------------- third section --------------------------------*/

.tab-card-parent {
  cursor: pointer;
}

.tab-card-first-title {
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s;
}

.tab-image-wrapper {
  overflow: hidden;
  /* border: 2px solid red; */
  position: relative;
  width: fit-content;
}

.tab-image-wrapper > img {
  transition: all 0.3s;
  /* width: 100%; */
}

.tab-card-parent:hover .tab-image-wrapper > img {
  transform: scale(1.1);
}

.tab-card-first-title:hover {
  color: var(--primary-theme-color);
}

.tab-card-parent:hover .tab-image-wrapper .image-bottom-tab-section {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.image-bottom-tab-section {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  transform: translateY(50px);
  transition: all 0.4s;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}

.image-bottom-tab-section:hover {
  background-color: var(--primary-theme-color);
}

.tab-image-icons {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tab-icons-image-bg {
  background-color: white;
  padding: 13px 15px;
  border-radius: 5px;
}

.tab-icons-image-bg:nth-child(1) {
  transform: translateY(-15px);
  opacity: 0;
  transition: all 0.3s;
}

.tab-icons-image-bg:nth-child(2) {
  transform: translateY(15px);
  opacity: 0;
  transition: all 0.3s;
}

.tab-card-parent:hover .tab-icons-image-bg {
  transform: translateY(0px);
  opacity: 1;
}

.tab-icons-image-bg:hover {
  background-color: var(--primary-theme-color);
}

.tab-icons-image-bg > svg {
  transition: all 0.4s;
}

.tab-icons-image-bg:hover > svg {
  fill: white;
}

.tab-minus-text {
  font-weight: 500;
  color: #fd1748;
  /* border: 2px solid red; */
  position: absolute;
  z-index: 10;
  display: block;
  top: 20px;
  right: 10px;
}

.custom-nav-style-title {
  background: none;
  border: none;
  color: #b9b9b9 !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  font-family: var(--popins-fonts);
}

.nav-item .active {
  transition: color 0.5s;
  color: var(--primary-theme-color) !important;
  border-bottom: 2px solid var(--primary-theme-color);
}

/*----------------------------------------- fourth section ----------------------------------------------*/

.custom-color {
  background-color: #f3f3f3;
}

.card-body:hover > .fourth-section-image-wrapper img {
  cursor: pointer;
  transform: scale(1.07);
}

.card-first-title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.card-second-title {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
}

.fourth-section-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fourth-section-image-wrapper img {
  transition: all 0.5s;
}

.rounded-pill-card-button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.rounded-pill-card-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-theme-color);
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 700ms;
  transform-origin: right;
  z-index: -1;
}

.rounded-pill-card-button:hover {
  color: white;
}

.rounded-pill-card-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/*----------------------------------------- fifth section ----------------------------------------------*/

.fifth-orange-line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-theme-color);
  margin: 0 auto;
}

.custom-fifth-title-margin {
  margin-top: 100px;
  margin-bottom: 20px;
}

.fifth-custom-color {
  background-color: var(--card-color);
  background-color: #f5f5f5;
}

.custom-card-color-bg {
  background-color: #f2f2f2;
  /* border: 2px solid red; */
}

.custom-height-width-card {
  width: 570px;
  height: 712px;
}

.big-card-image-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.big-card-image-wrapper img {
  transition: all 0.5s;
}

.custom-height-width-card:hover .big-card-image-wrapper img {
  transform: scale(1.05);
}

.card-fourth-section-parent {
  overflow: hidden;
  cursor: pointer;
}

.visible-image-wrapper {
  overflow: hidden;
  /* position: relative; */
}

.card-fourth-section-parent:hover .card-body .visible-image-wrapper > img {
  transform: scale(1.1);
}

.visible-image-wrapper img {
  transition: all 0.3s;
}

.fifth-section-first-text {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 50px;
  color: black;
}

.fifth-section-second-text {
  font-family: var(--popins-fonts);
  color: var(--primary-theme-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.custom-padding-link-text {
  padding-right: 70px;
}

.fifth-section-last-text {
  color: var(--primary-theme-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--primary-theme-color);
  /* border: 2px solid red; */
  margin-top: 70px;
}

.fifth-section-content {
  margin-top: 20px;
}

.custom-dollar {
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}

.custom-dollar-red {
  color: #fd1748;
}

.custom-dollar-badge {
  color: #fd1748;
  font-weight: 500;
  font-size: 16px;
}

.fifth-section-link-1-color {
  font-family: var(--montserrat-fonts);
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}

.fifth-section-link-1-color:hover {
  color: var(--primary-theme-color);
}

.fifth-section-image-content {
  position: absolute;
  /* border: 2px solid red; */
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  transform: translateY(50px);
  visibility: hidden;
  transition: all 0.3s;
  font-weight: 500;
}

.fifth-section-image-content:hover {
  background-color: var(--primary-theme-color);
  transition: background-color 0.4s;
}

.card-fourth-section-parent:hover
  .visible-image-wrapper
  .fifth-section-image-content {
  visibility: visible;
  transform: translateY(0px);
}

.custom-card-color-bg {
  /* border: 2px solid red; */
  position: relative;
  overflow: hidden;
}

.fifth-section-image-icons {
  /* border: 2px solid red; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fifth-section-image-hover-icon {
  background-color: white;
  padding: 13px 15px;
  border-radius: 5px;
  transition: all 0.4s;
}

.fifth-section-image-hover-icon:nth-child(1) {
  transform: translateY(-30px);
  opacity: 0;
}

.card-fourth-section-parent:hover
  .visible-image-wrapper
  .fifth-section-image-icons
  .fifth-section-image-hover-icon:nth-child(1) {
  transform: translateY(0px);
  opacity: 1;
}

.fifth-section-image-hover-icon:nth-child(2) {
  transform: translateY(30px);
  opacity: 0;
}

.card-fourth-section-parent:hover
  .visible-image-wrapper
  .fifth-section-image-icons
  .fifth-section-image-hover-icon:nth-child(2) {
  transform: translateY(0px);
  opacity: 1;
}

.fifth-section-image-hover-icon:hover {
  background-color: var(--primary-theme-color);
}

.fifth-section-image-hover-icon svg {
  transition: all 0.3s;
}

.fifth-section-image-hover-icon:hover svg {
  fill: white;
}

.furniture-set-conetnet-1 {
  position: absolute;
  /* border: 2px solid red; */
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.furniture-set-title-1 {
  font-family: var(--great-vibes-fonts);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
}

.furniture-set-title-1-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 3px;
}

.furniture-set-conetnet-2 {
  position: absolute;
  /* border: 2px solid red; */
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  cursor: pointer;
}

.furniture-set-title-2 {
  font-family: var(--great-vibes-fonts);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
  margin-left: 50px;
}

.furniture-set-title-2-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 3px;
  margin-left: 65px;
  width: fit-content;
}

.furniture-set-title-1-link:hover {
  color: var(--primary-theme-color);
  border-color: var(--primary-theme-color);
}

.furniture-set-title-2-link:hover {
  color: var(--primary-theme-color);
  border-color: var(--primary-theme-color);
}

.scaling-image {
  transition: all 0.5s;
}

.furniture-set-conetnet-1:hover ~ .furniture-image-wrapper .scaling-image {
  cursor: pointer;
  transform: scale(1.05);
}

.furniture-set-conetnet-2:hover ~ .furniture-image-wrapper .scaling-image {
  transform: scale(1.05);
}

.furniture-image-wrapper:hover .scaling-image {
  transform: scale(1.05);
  overflow: hidden;
  /* border: 2px solid red; */
  cursor: pointer;
}

.cutsom-width-to-parent {
  /* border: 2px solid blue; */
  width: fit-content;
}

.testimonial-first-title {
  text-align: center;
  font-weight: 600;
  color: #2c2c2c;
  margin-top: 80px !important;
  /* border: 2px solid red; */
}

.testimonial-first-title::after {
  margin: auto;
  display: block;
  content: "";
  width: 110px;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-theme-color);
}

/*---------------------------------------------- news section -------------------------------------------*/
.news-section-first-title {
  text-align: center;
  font-weight: 600;
  color: #2c2c2c;
}

.news-section-first-title::after {
  margin: auto;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-theme-color);
}

.news-section-second-title {
  /* border: 2px solid red; */
  color: #777777;
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0;
  font-family: var(--montserrat-fonts);
}

.news-section-third-title {
  font-size: 18px;
}

.news-section-third-title:hover {
  color: var(--primary-theme-color);
  transition: all 0.3s;
  cursor: pointer;
}

.news-section-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-weight: 500;
  border: 3px solid black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.news-section-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-theme-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  border-radius: 50px;
  z-index: -1;
}
.news-section-btn:hover {
  color: white;
  transition: all 0.5s;
}

.news-section-btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.hover-element {
  transition: all 0.5s;
  cursor: pointer;
}

.hover-element:hover .news-image-wrapper img {
  transition: all 0.5s;
  transform: scale(1.1);
}

.news-image-wrapper img {
  transition: all 0.5s;
  cursor: pointer;
}

/*--------------------------------------- Testimonial Section ---------------------------*/
.swiper {
  /* overflow: visible !important; */
}

.slider-content-wrapper {
  /* border: 2px solid red; */
  padding: 40px 24px 33px 33px;
}

.italic-fonts {
  font-style: italic;
  font-family: var(--popins-fonts);
  font-weight: 300;
  line-height: 29px;
}

#myTestimonials .swiper-slide-active {
  border-top: 2px solid #dedbdb;
  border-left: 2px solid #dedbdb;
  border-right: 2px solid #dedbdb;
  position: relative;
  /* border-bottom: 2px solid #dedbdb; */
}

#myTestimonials .swiper-slide-active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  bottom: 0;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
  border-bottom: 2px solid #dedbdb;
  left: 0;
  opacity: 1;
  visibility: visible;
}

#myTestimonials .swiper-slide-active::after {
  content: "";
  width: 2px;
  height: 40px;
  position: absolute;
  bottom: -37.5px;
  right: -2px;
  background-color: #dedbdb;
  opacity: 1;
  visibility: visible;
}

.client-1 {
  display: none;
}

#myTestimonials .swiper-slide-active > .client-1 {
  position: absolute;
  display: block;
  top: -50px;
  left: 35px;
  z-index: 20;
}

.custom-testimonial-title-color {
  color: #575555;
}

.custom-testimonial-title-last-color {
  color: #746e6e;
  font-weight: 500;
}

/*------------------------------------- colloboration-section ----------------------------*/

.swiper {
  /* border: 2px solid red; */
  overflow: hidden !important;
}

.swiper-wrapper {
  /* overflow: hidden; */
  /* border: 2px solid red; */
}

.mySwiper {
  /* border: 2px solid red; */
}

.card-overlay {
  cursor: pointer;
  display: flex !important;
  justify-content: center !important;
}

.card-overlay img {
  transition: all 0.4s;
}

.card-overlay:hover img {
  transform: scale(0.8);
}

/*------------------------------------------ footer section ------------------------------------------*/

.custom-top-footer-margin {
  margin-top: 80px !important;
}

footer {
  background-color: #f4f4f4;
}

.footer-line-height {
  line-height: 28px;
}

.footer-link-font-size {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--popins-fonts);
  color: #4a4a4a;
}

.footer-titles {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
}

.footer-touch-lines {
  font-size: 14px;
}

.footer-touch-bold-font {
  color: #4a4a4a;
  font-weight: 500;
  font-family: var(--popins-fonts);
}

.custom-footer-timer {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300;
  font-family: var(--popins-fonts);
}

.custom-footer-time-color {
  color: var(--primary-theme-color);
  font-weight: 300;
}

.copyright-margin {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
  font-family: var(--popins-fonts);
  /* color: #333; */
  font-weight: 300;
  background-color: #f0f0f0;
  padding: 15px;
}

.author-name {
  color: var(--primary-theme-color);
  font-weight: 500;
}

.footer-link-hover {
  transition: all 0.3s;
  cursor: pointer;
}

.footer-link-hover:hover {
  color: var(--primary-theme-color);
}

/* fixed button  */

.new-button {
  background: none;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* media queries  */

@media (max-width: 420px) {
  .close-btn-offcanvas {
    /* border: 2px solid red; */
    transition: all 0.5s;
  }

  .close-btn-offcanvas span {
    position: static;
    padding: 5px;
    display: flex !important;
    justify-content: end;
    /* border: 2px solid blue; */
    background-color: white;
    transition: all 0.5s;
    width: 100%;
  }

  .close-btn-offcanvas span svg {
    background-color: var(--primary-theme-color);
    padding: 3px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    display: block;
    transition: all 0.5s;
    transform: rotate(90deg);
  }
}

@media (min-width: 576px) {
  .furniture-set-title-1 {
    font-size: 26px;
    margin-top: 15px;
  }

  .furniture-set-title-1-link {
    font-size: 16px;
  }

  .furniture-set-title-2 {
    font-size: 26px;
    margin-left: 30px;
  }

  .furniture-set-title-2-link {
    margin-left: 55px;
    margin-top: 5px;
  }

  .footer-link-font-size {
    font-size: 16px;
  }

  .footer-touch-lines {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .custom-card-color-bg {
    /* border: 2px solid red !important; */
  }

  .furniture-set-title-1 {
    font-size: 31px;
    margin-top: 30px;
  }

  .furniture-set-title-2 {
    font-size: 31px;
    margin-left: 30px;
  }

  .furniture-set-title-2-link {
    margin-left: 55px;
    margin-top: 5px;
    font-size: 16px;
  }

  .news-section-third-title {
    font-size: 23px;
    color: #4a4a4a;
  }

  .custom-margin-news {
    margin-top: 20px;
  }
}

@media (max-width: 678px) {
  .image-full {
    width: 100%;
  }

  .parent-width-full {
    width: 100%;
  }

  .second-section-title {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .rounded-pill {
    width: 150px;
    height: 50px;
  }

  .custom-padding-device {
    padding: 0;
  }

  .custom-height-width-card {
    width: 100%;
    height: auto;
  }

  .custom-height-width-card img {
    width: 100%;
  }
}
