@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --montserrat-fonts: "Montserrat", serif;
  --nav-links-color: #383838;
  --primary-theme-color: #e97730;
  --first-hero-section-color: #f2f2f2;
  --card-color: #f3f3f3;
  --popins-fonts: "Poppins", serif;
  --great-vibes-fonts: "Great Vibes", cursive;
}

body {
  font-family: var(--montserrat-fonts);
}

.navbar-links-fonts {
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  color: var(--nav-links-color);
  line-height: 120px;
}

.nav-link {
  position: relative;
  /* border: 2px solid red; */
}

.nav-link::before {
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: red;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

.nav-link:hover::before {
  color: var(--primary-theme-color);
  transform: scaleX(1);
  transform-origin: left;
}

.on-hover-color:hover {
  cursor: pointer;
  fill: var(--primary-theme-color);
}

/*----------------------------------------------- first section --------------------------------------*/

.wrapper {
  background: url(images/slider-fix-img.webp);
}

/*--------------------------------- animation  -------------------------------*/
@keyframes fade-up-animation-first-text {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-second-text {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up-animation-button {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.rounded-pill {
  color: black;
  display: block;
  background-color: white;
  width: 190px;
  height: 55px;
  margin: 0 auto !important;
  font-family: var(--montserrat-fonts);
  font-weight: 500;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 1s;
  animation-name: fade-up-animation-button;
  animation-duration: 3s;
}

.rounded-pill::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  /* color: white; */
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
  transform-origin: right;
}

.rounded-pill:hover {
  color: white;
}

.rounded-pill:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.arrow-parent {
  display: inline-block;
  /* border: 2px solid red; */
}

.first-section-title {
  /* border: 2px solid red; */
  padding-top: 8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--montserrat-fonts);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  animation-name: fade-up-animation-first-text;
  animation-duration: 1s;
}

.first-section-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: white;
}

.first-section-title::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: white;
}

.second-section-title {
  /* border: 2px solid red; */
  text-align: center;
  font-family: var(--montserrat-fonts);
  font-size: 70px;
  line-height: 80px;
  margin-top: 6px;
  margin-bottom: 35px;
  animation-name: fade-up-animation-second-text;
  animation-duration: 2s;
}

/* swiper slider  */

.custom-width {
  /* width: 65%; */
  /* overflow: hidden; */
  /* border: 2px solid blue; */
}

.swiper-slide {
  /* display: flex; */
  /* justify-content: center; */
  /* padding-right: 50px; */
  /* border: 2px solid red; */
  /* width: 100%; */
}

/* animation  */
@keyframes image-animation-1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.swiper-image-1 {
  /* width: 150px; */
  /* text-align: center; */
  /* border: 2px solid red; */
  padding-top: 10px;
  /* animation-name: image-animation-1; */
  /* animation-duration: 1s; */
}

.swiper-custom-margin {
  margin-top: 5em;
  margin-bottom: 5em;
  padding-bottom: 50px;
}

@keyframes image-animation-2 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-2 {
  animation-name: image-animation-2;
  animation-duration: 1.3s;
}

@keyframes image-animation-3 {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-3 {
  animation-name: image-animation-3;
  animation-duration: 1.5s;
}

@keyframes image-animation-4 {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.image-animation-4 {
  animation-name: image-animation-4;
  animation-duration: 1.8s;
}

@keyframes image-animation-5 {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-animation-5 {
  animation-name: image-animation-5;
  animation-duration: 2s;
}

.image-wrapper {
  /* margin-top: 20px; */
  position: relative;
  /* border: 2px solid red; */
  /* width: 100px; */
  /* height: 100px; */
  display: flex;
  justify-content: center;
}

.swiper-text-align {
  text-align: center;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.image-1 {
  display: block;
  /* position: absolute; */
  transition: all 0.3s;
}

.image-2 {
  display: block;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(10px);
}

.swiper-image-1:hover .image-1 {
  opacity: 0;
  transform: translateY(-15px);
  cursor: pointer;
}

.swiper-image-1:hover .image-2 {
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;
}

/*----------------------------------------------- second section ---------------------------------------*/

.second-section-btn {
  padding: 10px 42px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-theme-color);
  color: white;
}

.custom-styling-content {
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-font-second-section {
  font-size: 40px;
  font-weight: 600;
}

.image-holder {
  overflow: hidden;
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.image-scale {
  position: absolute;
  transition: all 1s;
}

.image-holder:hover .image-scale {
  cursor: pointer;
  transform: scale(1.1);
}

.custom-second-section-first-title {
  display: flex;
  align-items: center;
}

.custom-second-section-first-title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-right: 20px;
  background-color: var(--primary-theme-color);
}

.custom-second-section-first-title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  margin-left: 20px;
  background-color: var(--primary-theme-color);
}

.font-custom-weight {
  font-weight: 600;
}

/*----------------------------------------- fourth section ----------------------------------------------*/

.custom-color {
  background-color: #f3f3f3;
}

.card-body:hover > .fourth-section-image-wrapper img {
  cursor: pointer;
  transform: scale(1.07);
}

.card-first-title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.card-second-title {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
}

.fourth-section-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fourth-section-image-wrapper img {
  transition: all 0.5s;
}

.rounded-pill-card-button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.rounded-pill-card-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-theme-color);
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 700ms;
  transform-origin: right;
  z-index: -1;
}

.rounded-pill-card-button:hover {
  color: white;
}

.rounded-pill-card-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/*----------------------------------------- fifth section ----------------------------------------------*/

.fifth-orange-line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-theme-color);
  margin: 0 auto;
}

.custom-fifth-title-margin {
  margin-top: 100px;
  margin-bottom: 20px;
}

.fifth-custom-color {
  background-color: var(--card-color);
  background-color: #f5f5f5;
}

.custom-card-color-bg {
  background-color: #f2f2f2;
}

.custom-height-width-card {
  width: 570px;
  height: 712px;
}

.fifth-section-first-text {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 50px;
  color: black;
}

.fifth-section-second-text {
  font-family: var(--popins-fonts);
  color: var(--primary-theme-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.custom-padding-link-text {
  padding-right: 70px;
}

.fifth-section-last-text {
  color: var(--primary-theme-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--primary-theme-color);
}

.fifth-section-content {
  margin-top: 20px;
}

.custom-dollar {
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}

.custom-dollar-red {
  color: #fd1748;
}

.custom-dollar-badge {
  color: #fd1748;
  font-weight: 500;
  font-size: 16px;
}

.fifth-section-link-1-color {
  font-family: var(--montserrat-fonts);
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.furniture-set-conetnet-1 {
  position: absolute;
  /* border: 2px solid red; */
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.furniture-set-title-1 {
  font-family: var(--great-vibes-fonts);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
}

.furniture-set-title-1-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 3px;
}

.furniture-set-conetnet-2 {
  position: absolute;
  /* border: 2px solid red; */
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  cursor: pointer;
}

.furniture-set-title-2 {
  font-family: var(--great-vibes-fonts);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
  margin-left: 50px;
}

.furniture-set-title-2-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 3px;
  margin-left: 65px;
  width: fit-content;
}

.furniture-set-title-1-link:hover {
  color: var(--primary-theme-color);
  border-color: var(--primary-theme-color);
}

.furniture-set-title-2-link:hover {
  color: var(--primary-theme-color);
  border-color: var(--primary-theme-color);
}

.scaling-image {
  transition: all 0.5s;
}

.furniture-set-conetnet-1:hover ~ .furniture-image-wrapper .scaling-image {
  cursor: pointer;
  transform: scale(1.05);
}

.furniture-set-conetnet-2:hover ~ .furniture-image-wrapper .scaling-image {
  transform: scale(1.05);
}

.furniture-image-wrapper:hover .scaling-image {
  transform: scale(1.05);
  overflow: hidden;
  /* border: 2px solid red; */
  cursor: pointer;
}

.cutsom-width-to-parent {
  /* border: 2px solid blue; */
  width: fit-content;
}

.testimonial-first-title {
  text-align: center;
  font-weight: 600;
  color: #2c2c2c;
}

.testimonial-first-title::after {
  margin: auto;
  display: block;
  content: "";
  width: 110px;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-theme-color);
}

/*---------------------------------------------- news section -------------------------------------------*/
.news-section-first-title {
  text-align: center;
  font-weight: 600;
  color: #2c2c2c;
}

.news-section-first-title::after {
  margin: auto;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background-color: var(--primary-theme-color);
}

.news-section-second-title {
  /* border: 2px solid red; */
  color: #777777;
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0;
  font-family: var(--montserrat-fonts);
}

.news-section-third-title {
  font-size: 18px;
}

.news-section-third-title:hover {
  color: var(--primary-theme-color);
  transition: all 0.3s;
}

.news-section-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-weight: 500;
  border: 3px solid black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.news-section-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-theme-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  border-radius: 50px;
  z-index: -1;
}
.news-section-btn:hover {
  color: white;
  transition: all 0.5s;
}

.news-section-btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.news-image-wrapper > img {
  transition: all 0.5s;
  cursor: pointer;
}

.news-image-wrapper:hover > img {
  transform: scale(1.1);
}

/*------------------------------------------ footer section ------------------------------------------*/
.footer-wrapper {
  background-color: #f4f4f4;
}

.footer-line-height {
  line-height: 28px;
}

.footer-link-font-size {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--popins-fonts);
  color: #4a4a4a;
}

/* media queries  */

@media (min-width: 576px) {
  .furniture-set-title-1 {
    font-size: 26px;
    margin-top: 15px;
  }

  .furniture-set-title-1-link {
    font-size: 16px;
  }

  .furniture-set-title-2 {
    font-size: 26px;
    margin-left: 30px;
  }

  .furniture-set-title-2-link {
    margin-left: 55px;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .furniture-set-title-1 {
    font-size: 31px;
    margin-top: 30px;
  }

  .furniture-set-title-2 {
    font-size: 31px;
    margin-left: 30px;
  }

  .furniture-set-title-2-link {
    margin-left: 55px;
    margin-top: 5px;
    font-size: 16px;
  }

  .news-section-third-title {
    font-size: 23px;
    color: #4a4a4a;
  }

  .custom-margin-news {
    margin-top: 20px;
  }
}

@media (max-width: 678px) {
  .custom-padding-device {
    padding: 0;
  }

  .custom-height-width-card {
    width: 100%;
    height: auto;
  }

  .custom-height-width-card img {
    width: 100%;
  }
}
